.link {
    position: absolute;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 3.2rem;
    text-shadow: 0 0 3rem rgba(255, 255, 255, 0.3);
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
